.laravel-grid
{
  max-width: 100%;
}

.navbar
{
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 10px 30px 0 rgba(82,63,105,.08);
  background-color: #fff;
  margin: 0;
}

.nav-item
{
  margin-left: 20px;
}

.card-header
{
  background: white;
  border-bottom: 0px;
}

.card
{
  box-shadow: 0 0 30px 0 rgba(82,63,105,.05);
  border: 0;
}

a
{
  color:#f64e60;
}

a:hover
{
  color:#f64e60;
  opacity: 0.8;
  text-decoration: none;
}

.page-item.active .page-link
{
  background-color: #f64e60;
  border-color: #f64e60;
}

.page-link
{
  color: #f64e60;
}

.page-link:hover
{
  color: #f64e60;
  opacity: 0.8;
}
/* table tr td:last-child{
  position: absolute;
  right:20px;
  background: white;
}

table
{
  padding-right: 54px;
} */


.btn-outline-primary {
  color: #dc3545;
  background-color: transparent;
  background-image: none;
  border-color: #dc3545;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #dc3545;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.tanggal_skep_header
{
  min-width: 130px;
}

.error_column_header
{
  min-width: 140px;
}

.nama_penerima_column_header
{
  min-width: 150px;
}

.tgldapem_column_header
{
  min-width: 110px;
}

.grid-title
{
  visibility: hidden;
}
